html,body,.results,.page{
    display: flex;
    justify-content: space-evenly;
}

html,body,.results{
    flex-direction: column;
}

html,body{
    height: 100%;
}

.results,.page{
    align-items: center;
}
.results{
    min-height: 15.55em;
    transition: all 0.2s ease;
}

.rock, .paper, .scissors{
    border: 10%;
    border-width: 10px;
    width: 12.5em;
    height: 12.5em;
}

.rock{
    color:black;
    background-color: brown;
    border-style: double;
    border-color: black;
}

.paper{
    color:black;
    background-color: white;
    border-style: dashed;
    border-color: grey;
}

.scissors{
    color:black;
    background-color: grey;
    border-style: groove;
    border-color: white;
}

button p{
    align-content:center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-style: italic;
}